<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The network in which collaboration requests will be broadcast -->
    <add key="Network" value="192.168.1.0/24" />

    <!-- UDP port used for listening to incoming collaboration requests -->
    <add key="BroadcastUdpPort" value="6000" />
    
    <!-- TCP port used for listening to collaboration details (such as: subscription requests and termination notifications) -->
    <add key="UnicastTcpPort" value="6000" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>